<form action="/login" method="POST">
  <div>
    <input type="" placeholder="Email" name="email" required>
  </div>
  <div>
    <input type="" placeholder="Password" name="password" required>
  </div>
  <div>
    <button>Sign in</button>
  </div>
</form>